@font-face {
    font-family: 'Inter';
    src: url(./Inter-V.ttf);
}

.langs {
    display: flex;
    gap: 18px;
    align-items: flex-end;
}
.lang {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}
.lang_included {
    text-decoration: underline;
}
.logo  {
    width: 176px;
    height: 52px;
    box-sizing: border-box;
}
.text {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 690px;
    max-height: 208px;
    outline: 2px solid green;
}
.intro__text {
    font-size: 16px;
    line-height: 163%;
}
.intro__text__line {
    font-weight: 700;
}
.intro__number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: table-cell;
    outline: 2px solid green;

}
.link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
.cover__link {
    max-width: 560px;
}
@media screen and (max-width: 1024px) {
    .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .lead {
    margin: 0 48px 0;
    }
    .photo-grid {
        margin: 0px 48px 92px;
        grid-template-columns: repeat(3, 1fr);
        gap:14px;
    }
} 
@media screen and (max-width: 1113px) {
    .photo-grid {
        margin: 0px 48px 92px;
        grid-template-columns: repeat(3, 1fr);
        gap:14px;
    }
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
    .intro {
        margin: 92px 286px 92px 48px;
    }
    .places {
        margin: 0 48px 92px 48px;
    }
    .place {
        column-gap: 32px;
    }
    .cover {
    width: 1024px;
    height: 640px;
    margin: 0 0 92px;
    }
    .cover:before {
        width: 1024px;
        height: 640px;
    }
}
.cover__block {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 100%;
    width: 100%;
    outline: 2px solid green;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        margin: 0px 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px 48px;
     }
     .lead {
        margin: 0 24px 0;
    }
    .lead__image {
        max-width: 768px;
        max-height: 480px;
    }
    .intro {
        margin: 88px 24px 88px;
    }
    .photo-grid {
        margin: 0px 24px 88px;
        grid-template-columns: repeat(2, 1fr);
        gap:16px;
    }
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }
    .places {
        margin: 0 24px 90px;
    }
    .place {
        column-gap: 28px;
    }
    .place__title {
    font-size: 42px;
    line-height: 46px;
    }
    .place__paragraph {
    font-size: 16px;
    }
    .place__image {
    width: 340px;
    height: 340px;
    }
    .cover {
    width: 768px;
    height: 480px;
    margin-bottom: 88px;
    }
    .cover:before {
        width: 768px;
        height: 480px;
        }
    .footer {
        margin: 0 24px;
    }
}
@media screen and (max-width: 800px) {
    .photo-grid {
        margin: 0px 24px 88px;
        grid-template-columns: repeat(2, 1fr);
        gap:16px;
    }
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }
}
@media screen and (max-width: 320px) {  
    .header {
        margin: 0 16px 48px;
    }
    .logo {
        width: 142px;
        height: 42px;
    }
    .lang {
    font-size: 18px;
    line-height: 20px;
    }
    .lead {
        margin: 0 16px 0;
    }
    .lead__image {
        max-width: 320px;
        max-height: 200px;
    }
    .lead__title {
    font-size: 40px;
    line-height: 44px;
    }
    .lead__subtitle {
        font-size: 16px;
    line-height: 20px;
    }
    .intro {
        margin: 64px 16px 64px;
    }
    .intro__title {
    font-size: 32px;
    line-height: 35px;
    }
    .text {
        max-height: 100%;
    }
    .photo-grid {
        margin: 0px 16px 64px;
        gap: 12px;
        grid-template-columns: 1fr;
    }
    .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
    }
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
    .place__image {
        width: 320px;
        height: 320px;
    }
    .places {
        margin: 0 16px 66px;
        gap:50px;
    }
    .place {
    outline: 2px solid green;
    }
    .cover {
        width: 320px;
        height: 200px;
    }
    .cover:before {
        width: 320px;
        height: 200px;
    }
    .cover__title {
    font-size: 32px;
    line-height: 35px;
    }
    .cover__subtitle {
        font-size: 14px;
    line-height: 16px;
    }
}