.page {
    background: #2A2C2F;
    box-sizing: border-box;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 24px;
}

/*1280*/

@media screen and (min-width: 1280px) {
.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
}