.place__paragraphs {
  display: flex;
  flex-direction: column;
  grid-column: 2/2;
  grid-row: 2/2;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 26px;
  min-width: 456px;
}

/*1023*/

@media screen and (max-width: 1023px) {
  .place__paragraphs {
    min-width: 352px;
    gap: 25px;
  }
}

/*767*/

@media screen and (max-width: 767px) {
  .place__paragraphs {
    min-width: 288px;
  }
}

/*716*/

@media screen and (max-width: 716px) {
  .place__paragraphs {
    grid-column: 1/1;
    grid-row: 4/4;
    width: 288px;
    margin: 0 16px 0;
  }
}