.place__paragraphs {
  display: flex;
  flex-direction: column;
  grid-column: 2/2;
  grid-row: 2/2;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 26px;
}

/*660*/

@media screen and (max-width: 550px) {
  .place__paragraphs {
    grid-column: 1/1;
    grid-row: 4/4;
    width: 288px;
    margin: 0 16px 0;
  }
}