.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 0;
  max-width: 720px;
}

/*740*/

@media screen and (max-width: 740px) {
  .lead__title {
    font-size: 64px;
    line-height: 68px;
  }
}

/*592*/

@media screen and (max-width: 592px) {
  .lead__title {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*510*/

@media screen and (max-width: 510px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}