.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 18px;
}

/*590*/

@media screen and (max-width: 590px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

/*350*/

@media screen and (max-width: 350px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

/*320*/

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}