.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 32px auto 64px;
  max-width: 640px;
}

/*740*/

@media screen and (max-width: 740px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

/*592*/

@media screen and (max-width: 592px) {
  .lead__subtitle {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*510*/

@media screen and (max-width: 510px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

/*350*/

@media screen and (max-width: 350px) {
  .lead__subtitle {
    margin: 16px 0 40px 16px;
  }
}