.cover {
  background: url("../../images/cover-trains.jpg");
  background-size: cover;
  min-width: 1184px;
  min-height: 740px;
  height: 100%;
  margin: 0 48px 92px;
  padding: 0;
  box-sizing: border-box;
}

.cover:before {
  content: "";
  position: absolute;
  background: #2a2c2f;
  opacity: 0.8;
  min-width: 1184px;
  min-height: 740px;
  box-sizing: border-box;
}

/*1264*/

@media screen and (max-width: 1264px) {
  .cover {
    margin: 0;
    margin-bottom: 92px;
  }
  .cover:before {
    width: 100%;
  }
}

/*1216*/

@media screen and (max-width: 1216px) {
  .cover {
    min-height: 640px;
    min-width: 1024px;
  }
  .cover:before {
    min-height: 640px;
    min-width: 1024px;
  }
}

/*1113*/

@media screen and (max-width: 1113px) {
  .cover {
    min-width: 1024px;
    min-height: 640px;
    margin: 0 0 92px;
  }
  .cover:before {
    min-width: 100%;
  }
}

/*1056*/

@media screen and (max-width: 1056px) {
  .cover {
    min-width: 768px;
    margin: 0;
    padding: 0;
    margin-bottom: 88px;
  }
}

/*800*/

@media screen and (max-width: 800px) {
  .cover {
    min-width: 512px;
    min-height: 470px;
    margin-bottom: 64px;
  }
  .cover:before {
    min-width: 320px;
    min-height: 480px;
  }
}

/*544*/

@media screen and (max-width: 544px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
    margin-bottom: 64px;
  }
  .cover:before {
    min-width: 320px;
    min-height: 250px;
  }
}
