.text {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  max-width: 690px;
}

/*350*/

@media screen and (max-width: 350px) {
  .text {
    max-height: 100%;
  }
}