.footer {
  margin: 0 48px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

/*1280*/

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
    width: 100%;
  }
}

/*800*/

@media screen and (max-width: 800px) {
  .footer {
    margin: 0 24px;
    gap: 20px;
  }
}

/*5640*/

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    margin-left: 16px;
    align-items: flex-start;
  }
}