.footer {
  margin: 0 48px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

}

/*1280*/

@media screen and (min-width: 1280px){
.footer {
    max-width: 1184px;
    width: 100%;
}
}

/*768*/

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px;
  }
}

/*590*/

@media screen and (max-width: 590px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    margin-left: 16px;
    align-items: flex-start;
  }
}

/*350*/

@media screen and (max-width: 350px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    margin-left: 16px;
  }
}

/*320*/

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    margin-left: 16px;
  }
}